.pos .actionpad-tax-widget {
    display: block;
    float: none;
    padding: 0;
    margin: 16px;
    margin-top: 8px;
    margin-right: 16px;
    margin-bottom: 2px;
    text-align: center;
    vertical-align: top;
    border: none;
    border-radius: 0;
    border-top: 1px solid;
    border-left: 1px solid;
    border-color: #bfbfbf;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pos .actionpad-tax-widget .button {
    position: relative;
    display: block;
    height: 54px;
    width: 100%;
    font-weight: bold;
    vertical-align: middle;
    color: #555555;
    font-size: 14px;
    border-radius: 0;
    border: none;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #bfbfbf;
    transition: all 150ms linear;
    padding-left: 40px;
    padding-right: 40px;
}
.pos .actionpad-tax-widget .button:hover {
    background: #efefef;
}
.pos .actionpad-tax-widget .button:active {
    background: black;
    border-color: black;
    color: white;
}
.pos .actionpad-tax-widget .button:first-child {
    border-top-left-radius: 4px;
}
.pos .actionpad-tax-widget .button:last-child {
    border-bottom-left-radius: 4px;
}


.screen .centered-content{
    position: absolute;
    right:0%; top: 64px; bottom: 0px;
    left:0%;
}

.pos .pos-sale-ticket{
    width: auto;
    font: 14px/1.2 Inconsolata;
}

.item-table {
    border-bottom: 1px solid black;
    border-collapse: collapse;
}