.pos-custom-receipt-container{
	font-size: 0.75em;
    text-align: center;
}

.screen .custom-centered-content{
    position: absolute;
    right:20%; top: 64px; bottom: 0px;
    left:20%;
    border-right: dashed 1px rgb(215,215,215);
    border-left: dashed 1px rgb(215,215,215);
    overflow-x: hidden;
    overflow-y: auto;
}